<form
  class="post__form"
  #addPostForm="ngForm"
  (ngSubmit)="submitPost(addPostForm)"
>
  <label class="form__label" for="title">Title</label>
  <input
    id="title"
    name="title"
    type="text"
    placeholder="Enter title here"
    class="form__title-input"
    ngModel
  />
  <label class="form__label" for="thought">Thought</label>
  <textarea
    id="thought"
    name="thought"
    placeholder="Enter thought here"
    class="form__thought-textarea"
    rows="4"
    ngModel
  ></textarea>
  <button type="submit" class="main__submit-button">Add Post</button>
</form>
