.post__form {
  align-self: center;
  height: 200px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #b1ddea;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 5px;
}

.main__submit-button {
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 5px 0;
}

.form__label {
  margin-bottom: 3px;
}

.form__title-input {
  padding: 3px;
  margin-bottom: 10px;
  border: 1px solid #000000;
  border-radius: 3px;
}

.form__thought-textarea {
  padding: 3px;
  margin-bottom: 10px;
  border: 1px solid #000000;
  border-radius: 3px;
}
