<main class="main">
  <header>
    <h1>My Thoughts</h1>
  </header>
  <!-- New Thought button-->
  <button (click)="onShowForm()" class="main__button">New Thought</button>

  <!-- List of Posts -->
  <div class="posts__div">
    <app-post
      *ngFor="let post of posts; let i = index"
      [post]="post"
      (deleted)="onDelete(i)"
    ></app-post>
  </div>
  <!-- Form to add new post -->
  <app-post-form
    class="add-form"
    *ngIf="showForm"
    (submitted)="onSubmit($event)"
  ></app-post-form>
</main>
