.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.add-form {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
  position: absolute;
}

.main__button {
  width: 75%;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 18px;
}

.posts__div {
  background-color: #ffffff;
  width: 75%;
  border: 1px solid #000000;
  border-radius: 5px;
  margin: 10px 0;
}
